.vim/bundle
.vim/.*

# ignore any password files
*.pem
*.crt
*.key

# for xmonad (see vicfryzel)
xmonad-x86_64-linux
xmonad.errors
xmonad.hi
xmonad.o
.xmonad/xmonad.state

.cgdb/readline_history.txt

# for irssi
config.autosave
