#------------------------------------------------------------------------------

snippet readlines "Template for reading a file line by line" b
FILE * f = fopen(${1:filename}, "r");
size_t size = ${2:BUFFER_SIZE};
char * line = (char *) malloc(size * sizeof(char));

int x;${0}
char * y;

while (fgets(line, size, f) && !feof(f)) {
	if (!sscanf (line, "%d %s", &x, y)) {
		fprintf(stderr, "Could not process the following line:\n%s", line);
		exit(EXIT_FAILURE);
	}
}
endsnippet


#------------------------------------------------------------------------------
snippet ck_assert_msg "check template" b
ck_assert_msg(${1:BOOLEAN}, "${2:ERROR MESSAGE}");${0}
endsnippet

#------------------------------------------------------------------------------
snippet header "build a default header"
#ifndef __${1:NAME}_H__
#define __$1_H__

${0}

#endif
endsnippet
#------------------------------------------------------------------------------



#------------------------------------------------------------------------------
snippet main "create main program" b
int main(int argc, char * argv[]){
	${0}
	return 0;
}
endsnippet
#------------------------------------------------------------------------------



#------------------------------------------------------------------------------
snippet define "create a new macro" b
#define ${1:NAME} ${2:CODE}
endsnippet

snippet struct "typedef a new structure" b
typedef struct ${1:NAME}{
	${2:TYPE} ${3:VARNAME};
	${0}
} $1;
endsnippet
#------------------------------------------------------------------------------



#------------------------------------------------------------------------------
snippet inc "make include standard" b
#include <${1:stdio}.h>
${0}
endsnippet

snippet incl "make include local" b
#include "${1:NAME}.h"
${0}
endsnippet
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
snippet for "make for loop" b
for(int ${1:i} = 0; $1 < ${2:VALUE}; $1++){
	${0}
}
endsnippet

snippet forb "make for reverse loop" b
for(int ${1:i} = ${2:VALUE}; $1 >= ${3:0}; $1--){
	${0}
}
endsnippet
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
snippet switch "make switch statement" b
switch(${1:VAR}){
	case ${2:VAR}:
		${3://BLOCK}
		break;
	default:
		${4://DEFAULT ACTION}
}
endsnippet

snippet "if else" "make if else statement" b
if(${1:CONDITION}){
	${2://BLOCK}
} else {
	${3://BLOCK}
}
endsnippet

snippet "if elif else" "make if ... else if ... else" b
if(${1:CONDITION}){
	${2://BLOCK}
}
else if(${3:CONDITION}){
	${4://BLOCK}
}
else {
	${5://BLOCK}
}
endsnippet
#------------------------------------------------------------------------------



#------------------------------------------------------------------------------
snippet malloc "build malloc command" b 
${1:TYPE} * ${2:VARNAME} = ($1 *)malloc(${3:N_MEMBERS} * sizeof($1));
${0}
endsnippet

snippet calloc "build calloc command" b 
${1:TYPE} * ${2:VARNAME} = ($1 *)calloc(${3:N_MEMBERS}, sizeof($1));
${0}
endsnippet

snippet realloc "build realloc command" b 
${1:VARNAME} = (${2:TYPE} *) ($ *)realloc($1, ${3:N_MEMBERS} * sizeof($2));
${0}
endsnippet
#------------------------------------------------------------------------------



#------------------------------------------------------------------------------
snippet memcpy "build memcpy command" b
memcpy(${1:DESTINATION_PTR}, ${2:SOURCE_PTR}, ${3:SIZE});
${0}
endsnippet

snippet memset "build memset command" b
memset(${1:VOID_MEM_POINTER}, ${2:0}, ${3:SIZE});
${0}
endsnippet

snippet qsort "build qsort command" b
qsort(${1:BASE_PTR}, ${2:N_MEMBERS}, ${3:MEMBER_SIZE}, ${4:CMP_FUN});
${0}
endsnippet

snippet qsort_r "qsort_r build command" b
qsort_r(${1:BASE_PTR}, ${2:N_MEMBERS}, ${3:MEMBER_SIZE}, ${4:CMP_FUN}, ${5:ARG_PTR});
${0}
endsnippet

snippet err "print an error message and die" b
fprintf(stderr, "${1:ERROR_MESSAGE}");
exit(${2:EXIT_FAILURE});
${0}
endsnippet
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
snippet memcmp "memcmp template" w
memcmp(${1:VOID_PTR_1}, ${2:VOID_PTR_2}, ${3:SIZE})${0}
endsnippet
