snippet td "expand td tag" b
<td>
	${0}
</td>
endsnippet

snippet p "expand paragraph" b
<p> ${0} </p>
endsnippet

snippet "new week" "make new week entry" b
<!--New Week-->
<tr>
	<tr>
		<td rowspan=3>
		wk3
		</td>
		<td>
		M
		</td>

		<td>
	</tr>

	<tr>
		<td>
		W
		</td>

		<td>
	</tr>

	<tr>
		<td>
		F
		</td>

		<td>
	</tr>
</td>
endsnippet
