snippet h1 "Make level 1 header" b
" =============================== BEGIN SECTION ===============================
" --- ${1:NAME}
" -----------------------------------------------------------------------------
" ${2:DESCRIPTION}
" -----------------------------------------------------------------------------
${0}
endsnippet

snippet h2 "Make level 2 header" b
" ------------------------------- begin subsection -------------------------------
" --- ${1:NAME}
${VISUAL}
" --------------------------------------------------------------------------------
endsnippet
